body {
  padding-top: 10%;
}
h1{
  font-family: 'Exo', sans-serif;
  font-size: 50px;
}

#timer {
  padding: 5%;
  font-size: 40px;
  font-family: 'Exo', sans-serif;
 background-color: #e73b3b;
}
#break {
  padding:5%;
  font-size: 30px;
  font-family: 'Exo', sans-serif;
  background-color:#e73b3b;
}
button{
  height:50px;
  width:50px;
}